<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et eos tenetur, hic voluptatum illo eligendi, cumque totam
            accusantium perferendis corrupti reiciendis excepturi, consequuntur at vero accusamus id. Blanditiis alias
            repudiandae, impedit error quos doloribus pariatur! Saepe natus ducimus fuga atque?</p>
    </div>
</div>