<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A qui doloremque nemo optio, explicabo velit facilis neque
        beatae impedit? Eveniet natus distinctio sunt omnis porro reprehenderit iure atque sit velit?</p>
        <a href="httt://google.com" class="btn btn-primary btn-lg">Google</a>
</div>